@import url("https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgb(0, 128, 74);
}

/* first movile */
.headerContainer {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  background: linear-gradient(90deg, #001b0c 0%, rgb(0, 128, 74) 100%);
  text-align: center;
}
.headerContainer .nombre {
  font-size: 25px;
  color: #478f4a;
}
.headerContainer .slogan {
  font-size: 15px;
  color: #478f4a;
}
.headerContainer .logo {
  width: 160px;
  display: flex;
  align-items: flex-end;
}

.container-fluid {
  font-weight: bold;
}

.gold {
  background-color: #ff8a00;
}

.footerConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgb(0, 27, 12) 0%, rgb(0, 128, 74) 100%);
  color: #63c166;
  padding-top: 10px;
}
.footerConteiner img {
  width: 20px;
}
.footerConteiner .redes {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 0px;
  margin-bottom: 10px;
}
.footerConteiner .contacto {
  justify-content: center;
  width: 100%;
  padding-left: 15px;
}
.footerConteiner .contacto p {
  margin-bottom: 0px;
}
.footerConteiner .iconoContacto {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 15px;
}
.footerConteiner .copyrigth {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

@media (min-width: 426px) {
  .headerContainer {
    padding-left: 125px;
  }
  .headerContainer .nombre {
    font-size: 42px;
  }
  .headerContainer .slogan {
    font-size: 22px;
  }
  .footerConteiner img {
    width: 30px;
  }
  .footerConteiner img .contacto {
    width: 100%;
    padding-left: 25px;
  }
  .footerConteiner img .copyrigth {
    width: 100%;
    text-align: end;
    padding-right: 30px;
  }
  .footerConteiner .iconoContacto {
    justify-content: space-evenly;
  }
}
@media (min-width: 1023px) {
  .headerContainer {
    padding-left: 255px;
  }
  .headerContainer .nombre {
    font-size: 48px;
  }
  .headerContainer .slogan {
    font-size: 28px;
  }
  .headerContainer .logo {
    width: 200px;
    display: flex;
    align-items: flex-end;
  }
  .footerConteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, rgb(0, 27, 12) 0%, rgb(0, 128, 74) 100%);
    align-content: space-between;
  }
  .footerConteiner .redes {
    flex-direction: column;
    align-items: center;
    width: 10%;
    order: 2;
  }
  .footerConteiner .contacto {
    order: 1;
    width: 65%;
    padding-left: 25px;
  }
  .footerConteiner .copyrigth {
    order: 3;
    width: 55%;
    text-align: end;
    display: flex;
    justify-content: space-evenly;
  }
}
.containerIndex {
  display: flex;
  flex-direction: column;
  color: #001b0c;
  text-align: justify;
  font-weight: bolder;
  margin: 30px;
}

.grifo img {
  width: 100%;
}

.equipamiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  color: #001b0c;
}

.equipamiento img {
  width: 350px;
}

.equipamiento section {
  margin: 20px;
  border: #ff8a00 solid;
  background-color: #478f4a;
}

.historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: justify;
  margin: 10px;
}
.historia p {
  font-size: 15px;
  font-weight: bold;
}
.historia img {
  width: 400px;
}

.h11 {
  width: 420px;
  text-align: center;
  background: rgb(0, 128, 74);
  background: linear-gradient(90deg, rgba(0, 128, 74, 0.01) 0%, rgb(130, 231, 121) 0%, rgb(0, 128, 74) 50%, rgb(130, 231, 121) 100%);
}

.tutorial {
  width: 100%;
  padding: 10px;
}
.tutorial h1 {
  font-size: 24px;
  text-align: center;
}
.tutorial h2 {
  font-size: 16px;
  text-align: justify;
}

.youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.youtube img {
  width: 100px;
  height: 100px;
}

.proceso {
  display: flex;
  justify-content: center;
}
.proceso img {
  width: 70%;
}

.estilos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  padding: 15px;
  row-gap: 10px;
}
.estilos img {
  width: 100%;
}
.estilos h5 {
  font-weight: bolder;
  color: green;
}

@media (min-width: 426px) {
  .parrafoIndex {
    border: #ff8a00 solid;
    padding: 15px;
    margin-bottom: 5px;
  }
  .grifo {
    width: 708px;
    border: #ff8a00 solid;
  }
  .historia {
    margin: 5px 30px;
    border: #ff8a00 solid;
    padding: 20px;
  }
  .equipamiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "equipamiento1 equipamiento2" "equipamiento3 equipamiento4" "equipamiento5 equipamiento6";
    justify-content: center;
  }
  .equipamiento img {
    width: 300px;
    height: 300px;
  }
  .estilos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .estilos .card {
    width: 80px;
  }
  .estilos img {
    width: 286px;
  }
}
@media (min-width: 1023px) {
  .h1 {
    grid-area: h1;
  }
  .h2 {
    grid-area: h2;
  }
  .h3 {
    grid-area: h3;
  }
  .h4 {
    grid-area: h4;
  }
  .h5 {
    grid-area: h5;
  }
  .h6 {
    grid-area: h6;
  }
  .h7 {
    grid-area: h7;
  }
  .h8 {
    grid-area: h8;
  }
  .h9 {
    grid-area: h9;
  }
  .historia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1 h1" "h2 h3" "h5 h4" "h6 h7" "h9 h8";
  }
  .historiaImg:hover {
    -webkit-animation: animation 4s;
            animation: animation 4s;
  }
  @-webkit-keyframes animation {
    0% {
      transform: scale(1.5);
    }
    25% {
      border-radius: 25%;
    }
    50% {
      border-radius: 50%;
    }
    75% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animation {
    0% {
      transform: scale(1.5);
    }
    25% {
      border-radius: 25%;
    }
    50% {
      border-radius: 50%;
    }
    75% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .h11 {
    background: rgb(232, 233, 12);
    background: linear-gradient(90deg, rgba(232, 233, 12, 0.01) 0%, rgb(0, 128, 74) 50%, rgb(232, 233, 12) 100%);
  }
  .equipamiento1 {
    grid-area: equipamiento1;
  }
  .equipamiento2 {
    grid-area: equipamiento2;
  }
  .equipamiento3 {
    grid-area: equipamiento3;
  }
  .equipamiento4 {
    grid-area: equipamiento4;
  }
  .equipamiento5 {
    grid-area: equipamiento5;
  }
  .equipamiento6 {
    grid-area: equipamiento6;
  }
  .equipamiento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "equipamiento1 equipamiento2 equipamiento3" "equipamiento4 equipamiento5 equipamiento6";
    justify-content: center;
  }
  .equipamiento1:hover {
    transform: scale(1.5) translate(100px);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .equipamiento2:hover {
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .equipamiento3:hover {
    transform: scale(1.5) translate(-100px);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .equipamiento4:hover {
    transform: scale(1.5) translate(100px);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .equipamiento5:hover {
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .equipamiento6:hover {
    transform: scale(1.5) translate(-100px);
    transition-property: all;
    transition-duration: 1.5s;
  }
  .containerIndex {
    flex-direction: row;
    align-items: center;
  }
  .parrafoIndex {
    border: none;
    width: 50%;
    font-size: 15px;
  }
  .grifo {
    border: none;
    width: 50%;
  }
  main {
    background: rgb(255, 111, 0);
    background: radial-gradient(circle, rgb(255, 111, 0) 0%, rgb(232, 233, 12) 50%, rgb(0, 128, 74) 100%);
  }
  .estilos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .estilos .estilos img {
    width: 287px;
  }
}/*# sourceMappingURL=style.css.map */